.box{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: gold;
    font-weight: 900;
    font-family: ariel;
    text-align: center;
    font-size: 23px
    
}

.bg1{
    background: orangered;
}

.bg2{
    background: limegreen;
    
}
.bg3{
    background: dodgerblue;
}

.inner{background: navy}

.box1{
    width:50px;
    height:50px;
    border-radius:50%;
    font-size:23px;
    font-family: Arial;
    font-weight: 900;
    color:#000;
    line-height:50px;
    text-align:center;
    background:#ffce00;
    
}

.block19{
    width:50px;
    height:50px;
    border-radius:50%;
    font-size:23px;
    font-family: Arial;
    font-weight: 900;
    text-align:center;
    color:#ffffff;
    background:red;
}

.block3{
    color:red;
}

.inner1{background: #ffffa8}

.inner2{background: black}

#rect{
    width:0px;
    height:0px
    backgound:lightblue;
    border:50px solid green;
    border-right: 50px solid red;
    border-bottom: 50px solid blue;
    border-left: 50px solid yellow;    
}